<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nitra.ollama-environment</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-c</string>
    <string>/bin/launchctl setenv OLLAMA_MAX_LOADED_MODELS 1; /bin/launchctl setenv OLLAMA_NUM_PARALLEL 1</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
